header {
    height: 5em;
    padding: .5rem 1rem .5rem 1rem;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #E16DDA 1px;
    overflow: hidden;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

header .img {
    order: -1;
    display: flex;
    align-items: center;
    color: whitesmoke;
}

header .img span {
    font-size: 1.5rem;
    background-image: repeating-linear-gradient(45deg, #E16DDA 0px, #E16DDA 5px, transparent 5px, transparent 10px );
}

.img > img{
    width: 4em;
    height: 4em;
}