.item {
    color: brown;
}

.itemContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.item img {
    width: 3em;
    margin-right: 1rem;
    border-radius: 50%;
}