@import url('normilaze.css');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
* {
  margin: 0;
  padding: 0;
}

/* Main content */

.content {
  display: flex;
  max-width: 100%;
}