@import url('normilaze.css');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
* {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  height: 5em;
  background-color: #282828;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid#D5D50F 1px;
  overflow: hidden;
}

header .img {
  order: -1;
  display: flex;
  align-items: center;
  color: aliceblue;
  font-family: 'Potta One', cursive;
}

header .img span {
  font-size: 1.5rem;
}

.img > img{
  width: 4em;
  height: 4em;
}

/* Navigation */
nav {
  padding: 2em;
  height: 400px;
  margin-right: 40px;
  background-color: #282828;
  line-height: 2em;
  color: aliceblue;
  border-right: solid#D5D50F 1px;
  border-bottom: solid#D5D50F 1px;
  border-bottom-right-radius: 50px;
  margin-top: -1px;
}

nav ul li {
  display: block;
}

/* Main content */

.content {
  display: flex;
}

main {
  line-height: 1.5em;
}